#home {
    font-size: 15px;
    border: solid 2px;
    border-color: gray;
}

#home:hover {
    background-color: gray;
    color: white;
}

#create {
    font-size: 15px;
}

#create:hover {
    border: solid 2px blue;
}