Installation setup:	
	Server-Side:
		NuGet packages:
			Microsoft.EntityFrameworkCore
			Microsoft.EntityFrameworkCore.Tools
			Microsoft.EntityFrameworkCore.SqlServer

		Set MyEmployee.WebApi as startup project
		Replace Server side ConnectionString with your SQLServer Credentials
		On package-manager console:
			Make default project as MyEmployee.Service
			Add-Migration //run command
			Update-Database //run command



	Client-Side:
		npm install ag-grid-angular
		npm install bootstrap 
		OR
		npm install
		ng serve


	Client server integration:
		Make sure baseURL in file employeeDataService in client side match with the URL of server
